<!DOCTYPE html>
<html lang="en">
    <head>
        <title>techIQ</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="techIQ, online Exam, online courses, free courses" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
                function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href="stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" /><!--bootstrap-->
        <link href="stylesheets/font-awesome.css" rel="stylesheet"><!--font-awesome-->
        <link href="stylesheets/style.css" rel="stylesheet" type="text/css" media="all" /><!--stylesheet-->
        <link href="//fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet">
        </head>
<body>
<!-- Header -->
<div id="home" class="banner inner-banner-w3l">
		<div class="header-nav">
			<nav class="navbar navbar-default">
                <div class="header-top">
                        <div class="navbar-header logo">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <h1>
                                        <a class="navbar-brand" href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i>techIQ</a>
                                    </h1>
                        </div>
                        <!-- navbar-header -->
                        <div class="contact-bnr-w3-agile">
                                    <ul>
                                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:info@example.com">info@techiq.com</a></li>
                                        <li><i class="fa fa-phone" aria-hidden="true"></i>+234 807 5638 238</li>	
                                    </ul>
                                </div>
                                </div>
                        <div class="collapse navbar-collapse cl-effect-13" id="bs-example-navbar-collapse-1">
    
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about-us">About</a></li>
                                <li><a href="/register">Sign Up</a></li>
                                <li><a href="#" class="active">Sign In</a></li>
                                <li><a href="/contact-us">Contact</a></li>
                            </ul>
    
                        </div>
                        <div class="clearfix"> </div>	
                    </nav>
							<div class="clearfix"> </div>
		</div>
</div>	
<!-- //Header -->
<!-- Login Form -->
<div class="contact-page-w3ls inner-padding">
    <div class="login">
        <div class="login-screen">
          <div class="app-title">
            <h1 style="margin-bottom: 10px; color: #000;">Login Page</h1>
          </div>

          <%- include('./errormessage.ejs') %>

        <form action="/api/user" method="post">
          <div class="login-form">
            <div class="control-group">

                <input type="text" name="email" required class="login-field" value="" placeholder="Email" id="login-name">
                <!-- <label class="login-field-icon fui-user" for="login-name">Email</label> -->
            </div>
            <div class="control-group">
                <input type="password" name="password" required class="login-field" value="" placeholder="password" id="login-pass">
            </div>
            <button type="submit" class="btn btn-primary btn-large btn-block">Click To Login</button>
            <a class="login-link" href="/register">A New User Click Here To Register</a>
          </div>
          </form>
        </div>
      </div>
    </form>   
</div>
	<!-- //login Form -->
<!-- footer -->

<div class="contact-w3ls ">
    <div class="contact-top-w3-agile">
    </div>
        <div class="container">
            <h2 class="heading-agileinfo white-w3ls">Contact Us<span class="black-w3ls">Welcome to our techIQ. We are glad to have you around.</span></h2>
            <ul class="w3_address">
                <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>sagotedo, Asajon, Lagos Nigeria</span></li>
                <li><i class="fa fa-volume-control-phone" aria-hidden="true"></i><span>+234 807 5638 238<br>+234 567 2345 653</span></li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i><span><a href="mailto:info@techiq.com">info@techiq.com</a><br><a href="mailto:support@techiq.com">support@techiq.com</a></span></li>
                <li><i class="fa fa-comments-o" aria-hidden="true"></i><span><a href="/contact-us">Contact >></a></span></li>
            </ul>
                <div class="clearfix"></div>
            <div class="copy">
                    <ul class="banner-menu-w3layouts">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us">About</a></li>
                        <li><a href="/register">sign up</a></li>
                        <li><a href="#">sign in</a></li>
                        <li><a href="/contact-us">Contact</a></li>
                    </ul>
                    <ul class="agileits_social_list">
                        <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                    </ul>
                    <p>© 2021 techIQ. <a href="#">Team G</a> </p>
            </div>
        </div>
    </div>
<!--//footer -->
<!-- js -->
<script type="text/javascript" src="javascripts/jquery-2.1.4.min.js"></script>
<!--//js -->
<script src="javascripts/SmoothScroll.min.js"></script>
<!--Scrolling-top -->
<script type="text/javascript" src="javascripts/move-top.js"></script>
<script type="text/javascript" src="javascripts/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!--//Scrolling-top -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script type="text/javascript" src="javascripts/bootstrap-3.1.1.min.js"></script>
</body>
</html>